<!DOCTYPE html>
<html>
<head>
  <title>HowtoLogin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <% if current_user %>
    Welcome, <%= current_user.name %>! <br/>
    You've signed in with <% current_user.provider %> <br/>
    <%= link_to "Sign Out", signout_path %>
  <% else %>
    <%= link_to "Sign in with Twitter", "/auth/twitter" %><br/>
    <%= link_to "Sign in with Facebook", "/auth/facebook" %><br/>
    <%= link_to "Sign in with Google Account", "/auth/google_oauth2" %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
